ul.tree-list {
    margin: 0;

    &:empty {
        margin: 0;
    }

    > li:last-child {
        margin-bottom: 10px;
    }

    li.menu-item {
    	@_toggle_width: 40px;
        @_left_spacing: @_toggle_width;
        @_vertical_spacing: 10px;
        @_icon_size: 16px;
        @_item_height: 34px;
        @_line_height: 1.2;
        @_side_spacing: (@_toggle_width - @_icon_size) / 2;

        line-height: @_line_height;
        border: none;

        // nested:
        li.menu-item:last-child {
            margin: 0;
        }

        .menu-toggle > i,
        .z-icon-drag,
        .z-btn-remove {
            width: @_icon_size;
            height: @_icon_size;
            font-size: @_icon_size;
            line-height: @_icon_size;
            position: absolute;
            top: 50%;
            margin-top: -@_icon_size/2;
        }
        .z-icon-drag {
            color: #999;
            left: @_side_spacing;
        }
        .z-btn-remove {
            right: @_side_spacing;
        }
        > div {
            position: relative;
            margin: -1px 0 0 0;
            padding: 0;
            #3L > .gradient(#ffffff, @backgroundColorLightest);

            &:hover {
                background-color: @backgroundColorInteractiveLight;
            }
            > a,
            > span:not(.btns) {
                display: inline-block;
                width: 100%;
                padding: @_vertical_spacing 40px @_vertical_spacing @_left_spacing;
                min-height: @_item_height;
            }

            > a {
                color: @textColorMedium;

                &:hover {
                    color: @textColorDark;
                    text-decoration: none;
                }
            }
            a.menu-toggle {
                position: absolute;
                width: @_toggle_width;
                height: @_item_height;
                line-height: @_item_height;
                color: #ccc;
                padding: 0;
                top: 0;
                left: 0;
                display: none;

                &:hover {
                    cursor: pointer;
                    text-decoration: none;
                    color: black;
                }
                > i {
                    left: 50%;
                    margin-left: -@_icon_size/2;
                    cursor: pointer;
                }
                > i.menu-collapse {
                    display: none;
                }
                > i.menu-expand {
                    display: block;
                }
            }
            .label {
                color: @textColorMuted;
            }
        }

        @_img_width: 32px / 3 * 2;
		@_img_height: 24px / 3 * 2;

		img.admin-list-dashboard {
			width: @_img_width;
			height: @_img_height;
			margin-bottom: 2px;
		}
        &.has-submenu {
            > div {
                a.menu-toggle {
                    display: block;
                }
            }
        }
        &.submenu-open {
            > div {
                a.menu-toggle {
                    > i.menu-collapse {
                        display: block;
                    }
                    > i.menu-expand {
                        display: none;
                    }
                }
            }
        }
        > ul {
            display: none;
        }
        &.submenu-open {
            > ul {
                display: block;
            }
        }

        .warning {
            position: absolute;
            top: 12px;
            right: 100px;
        }
        .btns {
            display: block;
            position: absolute;
            right: @_side_spacing;
            top: 7px;

            .btn-group {
                margin: 0;
            }
        }
    }
    &.categories {
        padding-bottom: 40px;
    }
    &.categories,
    &.tree-list-menu {
        li.menu-item {
            span.category {
                display: none;
            }
        }
    }

}

ul.tree-list.connections-list {
    min-height: 12px;

    li.menu-item > div {
        overflow: hidden;
    }
}
